.login-form {
  display: flex;
  flex-direction: column;
  padding: 48px;
  background-color: #161D2F;
  width: 380px;
  box-sizing: border-box;
  gap: 10px;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

form input {
  background-color: #C5C6CB;
  padding-left: 12px;
  border-radius: 8px;
  height: 36px;
  border: none;
}

.login-btn {
  background-color: #E34040;
  border-radius: 8px;
  height: 40px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  border: none;
}

.login-form-header {
  color: white;
}

.sign-up-container, .login-guest-container {
  display: flex;
  justify-content: center;
}

.sign-up-container button, .login-guest-container button {
  background-color: transparent;
  border: none;
  color: #E34040;
  font-size: 18px;
  cursor: pointer;
}

.login-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.login-form-header {
  margin-top: 0;
}
